#myCanvas {
  display: block;
}
html{
  background-color: black;
  z-index: 1;
}
.gameContainer{
  display: flex;
  justify-content: center;
}
.myVideo{
  display: flex;
  justify-content: center;
  top: 0;
  width: 64%;
  height: 100%;
  position: absolute;
  left: 16%;
  
}
.players {
  color: white;
  font-size: 2.5rem;
  position: absolute;
  font-weight: bolder;
  left: 20%;
  position: absolute;
  top: 12%;
}
#one{
  top: 30%;
}
#two{
  top: 50%
}
#three {
  top: 70%;
}
.backgroundvideo{
  top: 0;
  right:0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.Container {
  width:640px;
  height: 640px;
}
#myVideoBackground {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
/* UI Progress Bar*/
#grad1 {
  width: 50px;
  height: 400px;
  border: 4px solid black;
  transform: rotate(180deg);
  margin-top: 15%;
}

#bar {
  width: 50px;
  height: 0px;
  background-color:green;
}

#status {
  margin-left: -4px;
	padding-left:2px;
	font-size: 19px;
	font-weight: bold;
	transform: rotate(180deg);
	width: 50px;
}

button{
    font-size:30px;
    margin-left:500px;
    color:lightblue;
    background:grey;
}
