#myCanvas {
  padding: 0;
  margin: auto;
  display: block;
  z-index: -10;
  margin-top: 10%;
}
html{
  background-color: black;
  z-index: 1;
}
.myVideo{
  display: flex;
  justify-content: center;
  top: 0;
  width: 64%;
  height: 100%;
  position: absolute;
  left: 16%;
  
}
.players {
  color: white;
  font-size: 2.5rem;
  position: absolute;
  font-weight: bolder;
  left: 20%;
  position: absolute;
  top: 12%;
}
#one{
  top: 20%;
}
#two{
  top: 40%
}
#three {
  top:60%;
}
.backgroundvideo{
  top: 0;
  right:0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.Container {
  width:640px;
  height: 640px;
}
